YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
YDB_DATABASE=/ru-central1/REPLACE/REPLACE
S3_BUCKET=lyubimoe-gallery-production
S3_ACCESS_KEY_ID=REPLACE_FROM_FUNCTION_ENVIRONMENT
S3_SECRET_ACCESS_KEY=REPLACE_FROM_FUNCTION_ENVIRONMENT
ALLOWED_ORIGINS=https://bibizana-chi.ru,https://www.bibizana-chi.ru
COOKIE_DOMAIN=.bibizana-chi.ru
ROOM_SLUG=preview
